#grille {
    display: flex;
}

.case {
    border: solid 1px black;
    width: 50px;
    height: 50px;
    background-color: #22c1c3;
}

.case-rouge {
    background-color: red;
}

.case-verte {
    background-color: #22c1c3;
}