body {
    background-color: darkgray;
}

span { 
    padding: 0 10px;
    background-color: black;
}

.Excellent {
    color: greenyellow;
}

.Bien {
    color: yellow;
}

.Suffisant {
    color: darkorange;
}

.Insuffisant {
    color: red;
}